  #modal {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    display: none;
    overflow-y: auto;
    padding: 10rem;
    flex-direction: column;
    gap: 1rem;
  }

  #CV {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5rem;
    gap: 2rem 10rem;
    font-size: 1.15rem;
  }

  #user-icon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  #cv-sidebar-info {
    color: white;
    background-color: rgb(31, 128, 255);
    grid-row: 1/4;
    margin: -5rem;
    padding-top: 5rem;
    font-weight: bold;
  }

  .textarea-output {
    white-space: pre-wrap;
  }

  .align-left {
    text-align: left;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .CV-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .CV-buttons {
    font-size: 2rem;
  }

  #CV-save {
    background-color: green;
  }

  #CV-save:hover {
    background-color: rgb(0, 90, 0);
  }

  .icon {
    width: 20px;
    height: 20px;
  }

